<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div class="row my-2 px-2" th:fragment="header">
    <div class="col" id="logo_box">
        <img src="../static/images/stairs.png" th:src="@{/images/stairs.png}" alt="My Image"
             height="60px">
    </div>
    <div class="col" id="member_box" th:if="${loginMember} != null">
        <p class="px-1" th:text="${loginMember.nickName}" style="float:right; font-weight: bold; font-size: large; line-height: 60px">미라클 샐리</p>
        <img class="px-1" src="../static/images/user_icon.png" th:src="@{/images/user_icon.png}" alt="My Image"
             style="float:right" height="60px">
        <div style="float:right; border-radius:50%; background-color:red; height:40px; width:40px;">
            <p style="text-align:center; font-weight: bold; font-size: large; line-height: 40px">1</p>
        </div>
    </div>
</div>
</body>
</html>